{% extends "student/stu_layout.html" %}



{% block student_content %}


    <!-- MAIN CONTENT -->
    <main class="dashboard-content">

        <h2>Available Vendors</h2>

        {% if vendors %}
            <div class="vendor-grid">
                {% for vendor in vendors %}
                    <div class="vendor-card">
                        <a href="{{ url_for('stud_vend_menu', vendor_id=vendor.id) }}">
                            <img 
                            src="{{ url_for('static', filename=vendor.logo and 'uploads/vendor_logos/' + vendor.logo or 'images/default_vendor.png') }}"
                             alt="{{ vendor.business_name }}">

                        
                        <h4>{{ vendor.business_name }}</h4>
                        <div class="rating">
                            {% if vendor.rating_count > 0 %}
                                {% for i in range(1, 6) %}
                                    {% if i <= vendor.avg_rating|round(0, 'floor') %}
                                        <span class="star filled">★</span>
                                    {% else %}
                                        <span class="star">★</span>
                                    {% endif %}
                                {% endfor %}
                                <span class="rating-text">
                                    {{ vendor.avg_rating|round(1) }} ({{ vendor.rating_count }})
                                </span>
                            {% else %}
                                <span class="no-rating">(no ratings yet)</span>
                            {% endif %}
                        </div>
                        
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <!-- EMPTY STATE -->
            <div class="empty-state">
                <p>No available vendor</p>
            </div>
        {% endif %}

    </main>

</div>
{% endblock %}

