{% extends "student/stu_layout.html" %}



{% block student_content %}


    <!-- MAIN CONTENT -->
    <main class="dashboard-content">

        <h2>Available Vendors</h2>

        {% if vendors %}
            <div class="vendor-grid">
                {% for vendor in vendors %}
                    <div class="vendor-card">
                        <h4>{{ vendor.name }}</h4>
                        <p>View Menu</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <!-- EMPTY STATE -->
            <div class="empty-state">
                <p>No available vendor</p>
            </div>
        {% endif %}

    </main>

</div>
{% endblock %}

