<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Seamless{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-container">
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
  
    <!-- NAVBAR -->

    
    <header class="navbar">
        <div class = "nav-container">
            <div class="logo" style="display: flex; align-items: center;">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="OCFODS Logo" class="logo-image">
                <span style="margin-left: 10px;"><a href="{{url_for('landing_page')}}", style="text-decoration: none; color: #f97316;">SEAMLESS</a></span>
            </div>
            <div class = "hamburger" onclick="toggleMenu(this)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="nav-links" id = "navLinks">
                <a href="#">How it works</a>
                <a href="#">Vendors</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </div>
    </header>

    <!-- PAGE CONTENT -->

    <!-- Register Role Modal -->



    

    {% block content %}{% endblock %}
<div id="registerModal" class="modal-overlay">
    <div class="modal-box">
        <h2>Register As</h2>
        <p>Please select your role</p>

        <div class="modal-actions">
            <a href="/register/student" class="modal-btn student">Student</a>
            <a href="/register/vendor" class="modal-btn vendor">Vendor</a>
        </div>

        <button class="modal-close" onclick="closeModal()">Cancel</button>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById("registerModal").classList.add("active");
    }
    
    function closeModal() {
        document.getElementById("registerModal").classList.remove("active");
    }
</script>

<script>
    function toggleMenu(el) {
        document.getElementById("navLinks").classList.toggle("active");
        el.classList.toggle("open");   
    }
</script>


</body>
</html>
