{% extends "base.html" %}

{% block title %}CampusEats | Home{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-text">
        <h1>Order Food on Campus,<br><span>Fast & Easy</span></h1>
        <p>
            Skip queues. Order meals from trusted campus vendors and get it delivered or ready for pickup.
        </p>

        <div class="hero-buttons">
            <a href="{{ url_for ('stud_reg')}}" class="btn primary">Order as Student</a>
            <a href="{{url_for ('vendor_reg')}}" class="btn outline">Join as Vendor</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/food.png') }}" alt="Food">
    </div>
</section>

<section class="features">
    <div class="feature-card">
        <h3>📱 Easy Ordering</h3>
        <p>Order meals in seconds from your phone or laptop.</p>
    </div>

    <div class="feature-card">
        <h3>🍽 Trusted Vendors</h3>
        <p>Only verified campus food vendors.</p>
    </div>

    <div class="feature-card">
        <h3>💳 Secure Payments</h3>
        <p>Pay safely with integrated payment gateways.</p>
    </div>
</section>

{% endblock %}
